In [2]:
import pandas as pd

import numpy as numpy

df=pd.read_csv("/content/IRIS.csv")
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
ss = (df.groupby('species').size() / df.groupby('species').size().sum())*100
ss

species
Iris-setosa        33.333333
Iris-versicolor    33.333333
Iris-virginica     33.333333
dtype: float64

In [7]:
ans = numpy.mean(petal_width)

NameError: ignored

In [8]:
df.mean()

<ipython-input-8-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [9]:
df.mode()

   sepal_length  sepal_width  petal_length  petal_width          species
0           5.0          3.0           1.5          0.2      Iris-setosa
1           NaN          NaN           NaN          NaN  Iris-versicolor
2           NaN          NaN           NaN          NaN   Iris-virginica

In [10]:
df.min()

sepal_length            4.3
sepal_width             2.0
petal_length            1.0
petal_width             0.1
species         Iris-setosa
dtype: object

In [11]:
df.max()

sepal_length               7.9
sepal_width                4.4
petal_length               6.9
petal_width                2.5
species         Iris-virginica
dtype: object

In [13]:
iris = df.groupby(by = df.species )

In [14]:
iris

In [15]:
df.median()

<ipython-input-15-6d467abf240d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [18]:
import csv

def mean_from_csv(IRIS, sepal_width):
    total = 0
    count = 0
    with open(IRIS , 'r') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            total += float(row[sepal_width])
            count += 1
    if count == 0:
        return 0
    else:
        return total / count

In [19]:
my_mean = mean_from_csv('IRIS.csv', 'sepal_width')
print(my_mean)

3.0540000000000007

In [20]:
import csv

def median_from_csv(IRIS, sepal_width):
    values = []
    with open( IRIS , 'r') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            values.append(float(row[sepal_width]))
    n = len(values)
    values_sorted = sorted(values)
    if n % 2 == 0:
        median1 = values_sorted[n//2]
        median2 = values_sorted[n//2 - 1]
        median = (median1 + median2)/2
    else:
        median = values_sorted[n//2]
    return median

In [21]:
my_median = median_from_csv('IRIS.csv', 'sepal_width')
print(my_median)

3.0

In [22]:
import csv
import statistics

def mode_from_csv(IRIS, sepal_width):
    values = []
    with open(IRIS, 'r') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            values.append(float(row[sepal_width]))
    try:
        mode = statistics.mode(values)
    except statistics.StatisticsError:
        mode = None
    return mode

In [23]:
my_mode = mode_from_csv('IRIS.csv', 'sepal_width')
print(my_mode)

3.0

In [24]:
import csv
import statistics

def variance_from_csv(IRIS, sepal_width):
    values = []
    with open(IRIS, 'r') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            values.append(float(row[sepal_width]))
    variance = statistics.variance(values)
    return variance

In [25]:
my_variance = variance_from_csv('IRIS.csv', 'sepal_width')
print(my_variance)

0.18800402684563758